// colors
$color-one : #ff7b54;
$color-two : #ffb26b;
$color-three : #ffd56b;
$color-four : #939b62;
$color-five : #dddddd;
$color-six : #616161;
$color-seven : #00a566;
$color-eight : #e2ff23;
$color-nine : #ff4646;
$color-ten : #1b85e9;
$color-eleven : #93685B;

// screen sizes min
$xs : 320px;
$sm : 480px;
$md : 640px;
$lg : 768px;
$xl : 1024px;
$xxl : 1280px;
$xxxl : 1536px;